<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode"
           path="*"
           verb="*"
           modules="iisnode"
           scriptProcessor="server.js"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" maxUrl="8192" maxQueryString="4096" />
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode watchedFiles="web.config;*.js"
             debuggingEnabled="false"
             nodeProcessCommandLine="node --max-http-header-size=32768" />

  </system.webServer>
</configuration>
<!-- Trigger Restart v17 -->
